#backButton {
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
}

body {
    margin: auto;
    padding: 0;
    background-color: antiquewhite;
}


/*----------positioning------------*/

.wrapperHe {
    position: sticky
}

.wrapperHeaderHe {
    padding-top: 0;
    text-align: center;
}

.wrapperParentHe {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    text-align: center;
}


/*--------textStyles-------------*/

#bookHeaderHe {
    direction: rtl;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 120%;
    line-height: 0;
    display: inline-block;
}

#textMainHe {
    font-size: 15px;
    direction: rtl;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}

#textSecondHe {
    font-size: 15px;
    direction: rtl;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Times New Roman', Times, serif;
}

#bubble {
    list-style: none;
    text-decoration: none;
}

[data-msg] {
    display: relative;
}

[data-msg]:focus::after,
[data-msg]:hover::after {
    content: attr(data-msg);
}

.stick {
    text-align: center;
    position: sticky;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 25px;
    top: 240px;
    background-color: white;
}


/*intenal link*/

@media (min-width: 1000px) {
    #textMainHe {
        font-size: 25px;
    }
    #textSecondHe {
        font-size: 20px;
    }
}