
#backButton{
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    
    
}

body{
    margin: auto;
    padding: 0;
    background-color: antiquewhite;
    
    
}
/*----------positioning------------*/
.wrapper{
   position: sticky
   
    
}
.wrapperHeader{
    
    padding-top: 0;
    text-align: center;
    
    
}

.wrapperParent{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;

}



/*--------textStyles-------------*/

#bookHeader{

   font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 120%;
    line-height: 0;
    display: inline-block;
    
}
#textMain{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word ;
}
#textSecond{
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word ;
    font-family: 'Times New Roman', Times, serif;
    

}

#bubble{
    list-style: none;
    
    text-decoration: none;
    
}


[data-msg]{
    display: relative;
    
}
[data-msg]:focus::after, [data-msg]:hover::after{
    content: attr(data-msg);
    
    
    
}
/*intenal link*/
#n1{
    color: red;
}
#n2{
    color: red;
}
#n3{
    color: red;
}
#n4{
    color: red;
}
#n5{
    color: red;
}
#n6{
    color: red;
}
#n7{
    color: red;
}
