

h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    background-color: gray;

}
BookMain{
    float: left;
    padding: 5px;
    width: auto;
    height: 200px;
    background-color: aqua;

}
#container{
    float: none;
    
    align-content: center;
    display: grid;
    grid: repeat(1,60px) / auto-flow 80px; 
    gap: 50px;
    margin: 25px;
    width: auto;
    height: auto;
    padding: auto;
    
}

#container > div{

    
    padding: auto;
    display: grid;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(182, 182, 182);
    max-width: 100px;
   
    
}

nav {
    float: right;
    width: 100%;
    height: 300px; /* only for demonstration, should be removed */
    background: greenyellow;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
Buttons{
   
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
   
    
}
