/**/
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: antiquewhite;
}
.box1{
    

    color: #720026;
    background-size: 300px 100px;
}

#header1{
    color: antiquewhite;
    background-color: #720026;
    font-size: 6vw;
    text-align: center;
    
    
}

/*the link buttons start from here*/
nav{ /*creates navigation box depending on the content*/
width: 0 auto; /**/
height: auto;
margin: 0;
background-color:bisque;
}



ul{
    padding: 0%;
    

}

ul li{
    
    display: inline-block;
    padding: 20px;
   
    line-height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    

}

ul li a{
    
    text-decoration: none;
    background-color: white; /*button BG*/
 
    padding: 0 40px;
    
}

ul li a:hover{
    color: #720026;

}
/*ends here------------------------*/

/*----------center screen-----------*/


.wrapper{
    margin: 0 auto;
    width: fit-content; /*fits inside Ul->Li->a and creates autisde of them a box*/
    
}

@media only screen and (min-width: 600px){

    .box1{
    

        color: #720026;
        background-size: 500px 500px;
    }
    #header1{
        color: antiquewhite;
        background-color: #720026;
        font-size: 6vw;
        text-align: center;
        
        
    }



}