
*{
    margin: 0;
    padding: 0;
   
}





body{
    background-color: #faebd7;
}

#header1{
    
    display: none;
    color: antiquewhite;
    background-color: #720026;
    font-size: 6vw;
    text-align: center;
    
    
}

#header2{
    
    width: auto;
    color: antiquewhite;
    background-color: #720026;
    font-size: 50px;
    
    text-align: center;
    
    
}


.wrapper{
    width: 100%;
    height: 500px;
    
    
    
}




ul{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    

}
ul li{
    
    display: inline-block;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.linkBox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color:white;
    width: 200px;
    height: 250px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
    
    
}


.linkBoxChild{
    
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
   
}
.buttonBox{
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color:white;
    width: 380px;
    height: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
    
}

#backbt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color:white;
    width: 300px;
    height: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.linkBoxBt{
    
    text-decoration: none;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
   
}


















/*----------center screen-----------*/





.box1{
    color: #720026;
    padding-bottom: 20px;
}

.box2{
    height: 200px;
    
    margin: 0 auto;
     /**/ 
    padding-top: 200px;
    padding-bottom: 80px;
}
.box2 p{
    
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
    height: fit-content;
}

/*----------------------------------*/
.link{
    
    position: sticky;
}



@media only screen and (max-width: 600px) {
    .linkBox{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        background-color:white;
        width: 150px;
        height: 100px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        
        
    }
    .wrapper{
        width: 100%;
        height: 200px;
        
        
        
    }
    .buttonBox{
    
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        background-color:white;
        width: 220px;
        height: 50px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        
        
    }
    .linkBoxBt{
    
        text-decoration: none;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
       
    
  }
}