/*default html spacing*/

*{
    padding: 0;
    margin: 0;
}


.wrapper{
    margin: 0 auto;
    width: fit-content;
    padding-top:20px ;
}

nav{
    
    background-color: bisque;
    padding-bottom: 50px;
    
}

ul{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    

}
ul li{
    padding-left: 20px;
    display: inline-block;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

#header{
    
    display: grid;
    padding-top: 0;
    font-size: 50px;
    text-align: center;
    color: beige;
    background-color: #720026;
    
}

.box{
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    
    
}

.box a{
    color: black;
    text-decoration: none;
    font-size: 20;
   
    
}
.box a:hover{
    color: red;
   
    
}



/*box inside the link to center itself inside the box*/ 
.linkBox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color:white;
    width: 100px;
    height: 50px;
}
.linkBox:hover{
    color: wheat;

}
.linkBoxChild{
    
    text-decoration: none;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100px;
    height: 50px;
}


/*dont touch the body*/

body{
    background-color: antiquewhite;
}




/*------command LIne---------------*/
@media only screen and (min-width: 400px)/*if less of 100px do !*/
{
    #header{
        display: block;
        font-size: 60px;
        
    }

    ul{
        
    
    }

}

@media only screen and (min-width: 100px)/*if less of 100px do !*/
{

    ul{
        padding-left: 30px;
    
    }

    

}