* {
    margin: 0;
    padding: 0;
}


body{
    background-color: antiquewhite;
}


/*-----------clasess section----------*/

.wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-color: bisque;
    
}

.wrapperChild{
    margin: 0 auto;
    width: auto;
}

/* links design*/



.navBox{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    
}

.navBoxChild{
    
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: rgb(247, 247, 238);
}
.navBoxChild:hover{
    color: wheat;
}



/*--------------id section------------------*/

#header{
    
    color: beige;
    background-color: #720026;
    width: auto;
    height: 80px;
    text-align: center;
    font-size: 60px;


}



#backBt{
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-align: center;
}

#backBt a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

#backBt a:hover{
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

